.App {
  text-align: center;
  background: #cadc9d;
  font-family: Cambria, monospace;
}

.header {
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  position: relative;
}

.name {
  font-size: 5vh;
  font-weight: bolder;
  position: absolute;
  left: 85%;
  color: #313133;
}

.body {
  min-height: 90vh;
  display: flex;
  flex-direction: row;
}

.body-buttons {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.body-main {

}
