.action-btn {
    width: 300px;
    min-width: fit-content;
    height: 60px;
    display: inline-flex;
    font-size: 22px;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    color: #313133;
    background: rgba(114, 141, 51);
    box-shadow: 3px 3px 12px #536031;
    border: none;
    border-radius: 10px;
    transition: color 0.2s ease-in-out 0s,
                box-shadow 0.2s ease-in-out 0s,
                transform 0.1s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    left: 5vw;
    padding: 10px;
}

.action-btn:hover {
    color: white;
    box-shadow: 6px 6px 24px #d4e1b8;
}

.action-btn:active {
    transform: scale(0.85);
}

.close-btn {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    padding: 0;
    color: #313133;
    line-height: 1;
}

.close-btn:hover {
    opacity: 0.7;
    transform: scale(0.95);
}